<label class="flex flex-col gap-2">
  <span class="text-base font-semibold">Upload Avatar</span>
  <div class="grid grid-cols-1 gap-4 items-center md:grid-cols-[120px_auto]">
    <div
      class="avatar w-[120px] h-[120px] rounded-full border border-gray-400"></div>
    <div>
      <input
        type="file"
        class="file-input file-input-md file-input-bordered w-full max-w-xs" />
      <span class="text-[14px] opacity-70"
        >SVG, PNG, JPG or GIF (MAX 800x400px)</span
      >
    </div>
  </div>
</label>
