<!-- Cover Input -->
<label class="flex flex-col gap-2">
  <span class="text-base font-semibold">Field 1</span>
  <div
    class="w-full h-[200px] bg-gray-100 border-2 border-gray-400 border-dashed rounded-[5px] text-base flex justify-center items-center flex-col">
    <span class="opacity-80">
      <span class="font-medium text-base">Click to upload</span> or drag and
      drop
    </span>
    <span class="opacity-80">SVG, PNG, JPG or GIF (Max 800x400px)</span>
    <input type="file" multiple hidden />
  </div>

  <div class="hidden sm:grid sm:grid-cols-4 sm:gap-4">
    <div class="relative border h-[90px] rounded-[5px] border-gray-400">
      <button class="absolute bottom-1 left-2">DEL</button>
    </div>
    <div class="relative border h-[90px] rounded-[5px] border-gray-400">
      <button class="absolute bottom-1 left-2">DEL</button>
    </div>
    <div class="relative border h-[90px] rounded-[5px] border-gray-400">
      <button class="absolute bottom-1 left-2">DEL</button>
    </div>
    <div class="relative border h-[90px] rounded-[5px] border-gray-400">
      <button class="absolute bottom-1 left-2">DEL</button>
    </div>
  </div>
</label>
